@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Roboto+Condensed&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a, #hero-msg h1, #hero-msg h4, .button-box, main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #3ADE56;
}
header, .book, .join, #background, footer {
    background-color: #62F54C;
}
nav a:hover, .book:hover, .join:hover {
    background-color: #DBFA41;
    color: #FA7F41;
}
nav a, .home-title, h4, .book, .join, .msg h2, .msg p, footer h3, footer a {
    color: #3A3956;
}
footer a:hover {
    color: #FA7F41;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
nav a, .book, .join, footer a {
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
.home-title, .msg h2 {
    font-family: "Roboto Condensed", Helvetica, sans-serif;
}